[2015-12-16 01:41] PlagueHO commented on #2
Resolved.

[2015-12-17 14:25] juriskrumins opened #3 "Issue with Test-TargetResource."
When I try to configure DFS using cDFS module I've hit the following issue:

	Cannot bind argument to parameter 'DifferenceObject' because it is null.
	+ CategoryInfo : InvalidData: (:) [], CimException
	+ FullyQualifiedErrorId : ParameterArgumentValidationErrorNullNotAllowed,Microsoft.PowerShell.Commands.CompareObjectCommand
	+ PSComputerName : localhost
	VERBOSE: [WEB1]: LCM: [ End Test ] [[cDFS

[2015-12-17 20:08] PlagueHO commented on #3
That's a good catch. I'm embarrassed to say I've made this mistake before. Another way of fixing it is to explicitly cast the $ExistingFolders variable to an array:
E.g.
[code]
Wrap the whole assignment in a @()
[code]

I'll get it done now and release it.

Integration tests should have picked this up but I haven't had a chance to write them yet -they're on my todo list. Thanks again.

[2015-12-17 22:06] PlagueHO commented on #3
I've released the update for this on PowerShellGallery and it's available here. Please let me know if this doesn't fix the issue for you.

Thanks again and sorry about the bug!

[2015-12-18 08:32] juriskrumins commented on #3
Works for me. Thanks.

[2015-12-18 17:01] PlagueHO commented on #3
Awesome! :+1: Thanks for your help!

[2015-12-18 17:01] #3 closed

[2016-02-15 05:10] nzspambot opened #1 "BMD_cDFSRepGroup: DNSName vs ComputerName"
Hi

First off, this is a wonderful module, so thanks for writing this

However I have some feedback, I've noticed in the resource BMD_cDFSRepGroup you compare on short name whereas my configs always have FQDNs for example:

[code]

results in

[code]

which in my case _does not correctly test_

[code]

vs

[code]

which will _in my case_ does correctly test

I believe that the DNS name would be be

[2016-02-15 07:50] PlagueHO commented on #1
Thank you for the awesome comments :smile: good to know this resource gets some use!

That's a good catch - let me see if I can figure out a resolution to this. I'll see if I can get a fix out over the next day.

Thanks again for posting this issue too. :+1:

[2016-02-15 07:59] PlagueHO commented on #1
And you're right - it looks like using the DNSName property of the DFSRMember object would resolve the problem. Will just need to check how this would affect any configs not using the computer name. I could code it to perform an FQDN/DNS check if the computername parameter of the config contained any "." otherwise perform a computername comparison.

I'll work on this tomorrow.

Thanks!

[2016-02-15 08:17] nzspambot opened #2 "BMD_cDFSNamespaceRoot: TimeToLiveSec"
I might be blind but you don't appear to have an option for

[code]

I see it in the Get

[code]

 but not in the Test or Set :(

Can possibly provide a pull _maybe_ this week depending on work load sorry :(

[2016-02-15 19:37] PlagueHO commented on #2
Cool! Thanks for raising this and the awesome level of detail too. I'll put the change through at the same time as I complete issue #1. So expect this by the end of today.

Thanks again!

[2016-02-15 21:18] PlagueHO commented on #1
No problem!I  like to have resources in 100% working order so it's great to get feedback :+1:  I'm waiting on a code review of these resources by MSFT to try and get them moved over to the community DSC resources which will mean a lot more support and generally easier access to them. But it is taking a while to happen.

I think using these resources in a non-domain joined scenario should be fine b

[2016-02-16 02:02] PlagueHO commented on #1
I'm just merging the fix for this into the Dev branch now.

So once this is merged, feel free (in fact it would be much appreciated) to give this a try and let me know if you run into any problems.

In behind the scenes it now converts everything over the FQDNs (using the DomainName and ComputerName parameters if the ComputerName isn't already an FQDN) and matches the DNSName.

[2016-02-16 02:10] #1 closed, assigned to PlagueHO

[2016-02-16 02:29] PlagueHO commented on #1
Good question. Actually, I probably should - and will for this release.

I didn't used to because I have it set that the AppVeyor CI sets it when it creates and uploads the package to PowerShellGallery (and creates artifacts that I can download and use). Also, only AppVeyor can add the build number to the manifest as well. I never usually install the Module directly from Git so didn't run into an

[2016-02-16 03:05] PlagueHO commented on #2
All done (hopefully with no bugs - seems to be OK though). I've added this in to cDFSNamespaceRoot and cDFSNamespaceFolder (it was missing from both).

The PR will be merged momentarily.

I'll then merge all these changes back down into master which will cause this resource to automatically be pushed into PS Gallery.

[2016-02-16 03:42] PlagueHO commented on #1
I think the way I'm doing it could definitely be better :smile: But given that I'm waiting for MSFT to accept it into the community resources I wasn't going to invest any time on it (they have their own internal release process etc).

[2016-02-16 03:46] #2 closed, assigned to PlagueHO

[2016-02-16 03:49] PlagueHO commented on #2
PR has been merged into Dev.

I'll push the changes to master once all the tests pass which should release the module up onto PS Gallery.

[2016-05-13 15:57] kilasuit opened #12 "Rename to remove the x prefix"
This issue is to highlight that really this shouldn't have been merged as xDFS after the amount of confusion that these x & c prefixed modules have brought to the community.

Please consider renaming to DFS_DSC (will be filing similar issues about the other repos too)

[2016-05-13 17:24] KarolKaczmarek commented on #12
Thanks for your input @kilasuit

We are definitely going to be removing "x" as was communicated earlier, however the plan isn't finalized yet, so we could not publish this module without the prefix yet.

The major issue which need to be cleared up is the versioning story, for which we have RFC pending (https://github.com/PowerShell/PowerShell-RFC/blob/master/1-Draft/RFC0004-PowerShell-Module-Versi

[2016-05-13 17:24] #12 closed, assigned to nobody

[2016-05-14 22:52] PlagueHO opened #13 "Remove Hard coded Pester version number from AppVeyor script"
Remove version number from this line:
https://github.com/PowerShell/xDFS/blob/dev/appveyor.yml#L7

[2016-05-16 18:00] #13 closed, assigned to PlagueHO

[2016-05-18 14:19] bk147 opened #15 "FQDN for NameSpace roots"
It would be very nice if the Resource supported using FQDNs as servernames in DFSN Root Targets :-)

[2016-05-18 22:02] PlagueHO commented on #15
@bk147 - thanks for your feedback! I'm sure it could be made to do this. I'll take a look and see what I can do (unless someone gets to it first). I'll try and get to this this weekend but possibly the next week.

[2016-05-21 03:22] PlagueHO commented on #15
@bk147 - I've started work on this one. But I now recall why FQDN doesn't work - it is a limitation (possibly an intentional one) in the PowerShell DFSN cmdlets:
![2016-05-21_15-02-16](https://cloud.githubusercontent.com/assets/7589164/15446042/cf326bee-1f65-11e6-8617-5242e2f999a6.png)

The PowerShell Cmdlets for DFS Namespaces do not return the FQDN of any targets added to the Namespace - even if

[2016-05-21 03:28] PlagueHO commented on #15
Also, can you confirm what sort of Namespaces you're using here (DomainV2 or Standalone).

[2016-05-31 13:16] bk147 commented on #15
Sorry about my late response!
First we're using DomainV2 on all our DFS Namespaces. We have several domains in the same forest and what we usually do is that we run the following PowerShell command as the first thing:

`Set-DfsnServerConfiguration -ComputerName localhost -UseFqdn $true`

This enables support for FQDN in the DFS roots, but the server has to be rebooted before the setting becomes ac

[2016-05-31 22:51] PlagueHO commented on #15
@bk147 - no problem sir! I had no idea about the -UseFQDN parameter! Can I reopen this as I'd actually like to come up with something for you.

I think what we need is a new DSC resource to allow us to configure the DfsnServer. We can manage the reboot OK by making this resource require a reboot if the UseFQDN value changes. This may actually mean that the FQDN sill just start working.

[2016-06-05 00:41] PlagueHO opened #16 "[New Resource] xDFSNamespaceServerConfiguration"
Should be a IsSingleUse resource. Will use `Get-DfsnServerConfiguration` and `Set-DfsnServerConfiguration`.

Allows control of the following parameters:
LdapTimeoutSec            : 30
PreferLogonDC             :
EnableSiteCostedReferrals :
EnableInsiteReferrals     :
SyncIntervalSec           : 3600
UseFqdn                   : False

[2016-06-05 00:42] PlagueHO commented on #16
This enhancement relates to issue #15

[2016-06-29 05:10] #16 closed, assigned to PlagueHO

[2016-07-29 07:02] PlagueHO opened #21 "Upgrade to meet HQRM Guidelines"
This resource module could be upgraded to meet HQRM guidelines.

@kwirkykat - I think this module is already fairly close to meeting the minimum standards. Is this module something that could potentially be accepted into this at some point?

[2016-08-18 19:53] kwirkykat commented on #21
@PlagueHO Yeah it's pretty close. Looks like only some little style fixes and help comments needed.

[2016-08-20 04:03] PlagueHO commented on #21
Thanks @kwirkykat  - What I'll do is submit a PR with the HQRM changes (based on all the changes I've been making from your feedback on my other PRs). Hopefully I'm at a point now where I know most of the things I need check. So it shouldn't be too hard.

That said, I've got so many other DSC work in the pipeline at the moment I doubt I'll get to this in the next month. So I'll look into this afte

[2016-10-06 23:26] PlagueHO opened #22 "Add CommonResourceHelper.psm1 module and update to use it"
The xPSDesiredStateConfiguration includes a CommonResourceHelper.psm1 that includes several common functions.

xDSF has quite a lot of replicated code that is contained in the [CommonResourceHelper.psm1](https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/dev/DSCResources/CommonResourceHelper.psm1) file. So there would be some benefit to changing xDFS to use these patterns (including m

[2016-10-17 13:51] iainbrighton commented on #15
@PlagueHO I think there has been some change here when it comes to the Server 2016 implementation? It now seems that I **need** to specify the FQDN in the `TargetPath` on 2016 - otherwise it always fails the `Test-TargetResource` method. Have you seen this too?

[2016-10-18 04:21] PlagueHO commented on #15
@iainbrighton - actually I haven't yet looked. Thanks for the heads up. I'll make some time this week to look in to it. Cheers!

[2016-10-21 07:31] PlagueHO commented on #15
@iainbrighton - I'm looking at this over this weekend and hope to get it figured out soon.

It would be grand if we could specify the OS version AppVeyor uses - could then set up a test matrix to test the different OS versions.

[2016-10-22 02:25] PlagueHO commented on #15
Hi @iainbrighton - I think I've found the problem:

In Windows Server 2012 R2 the DFSN Server Configuration setting UseFQDN defaults to "False".
![2016-10-22_15-05-35](https://cloud.githubusercontent.com/assets/7589164/19616178/23ccac2e-9869-11e6-9244-151b11306d36.png)

In Windows Server 2016 the 'UseFQDN' setting defaults to $null (not set):
![2016-10-22_15-09-28](https://cloud.githubusercontent.

[2016-10-26 02:40] joeypiccola opened #23 "unable to create domain dfs root"
Been trying to figure this one out. At first I thought it was a dependency on the TargetPath file share, but I've created that and I still get the error below. I can get this to work when manually running New-DfsnRoot.

**DFS dsc verbose**
![image](https://cloud.githubusercontent.com/assets/8612198/19711441/f286a89a-9af2-11e6-97c3-66526342adc5.png)

**manual run new-dfsnroot works**
![image](https

[2016-10-26 04:51] PlagueHO commented on #23
Hi @joeypiccola, thank you for raising this issue.

In:

[code]

Can you try changing the TargetPath to:

[code]

However, if you'd prefer to use the full FQDN of the Targetpath, you can add a step to the config (before the `[xDFSNamespaceRoot]DFSNamespaceRoot_Domain_Files` step) that switches the DFSN to FQDN mode:

[code]

I'm figuring out the best way of documenting this as this becomes an even

[2016-10-26 05:01] joeypiccola commented on #23
@PlagueHO

Changing the following did not work.

[code]

The following also did not work when used with "TargetPath = '\dsc-test01.ad.mydomain.com\Files'".

[code]

Let me mess with this a bit, perhaps I don't understand the credentials piece (as I have removed them). I bet you that it's. Will report back in a bit. Thanks @PlagueHO

Update: oh boy... just opened up a can of worms (e.g. securing a

[2016-10-26 06:46] joeypiccola commented on #23
@PlagueHO

Got it working! Dang, that was a fair amount of work. Basically, followed the instructions found on the following link to get credential encryption and decryption working with self-signed certs. Ended up submitting a PR too for the doc. https://msdn.microsoft.com/en-us/powershell/dsc/secureMOF

As for the issue, to be honest I am not sure if having added the following fixed it. Both hos

[2016-11-15 09:12] PlagueHO commented on #23
@joeypiccola - good work getting it going! Secure MOF is something worthwhile getting a handle on anyway as it is something you'll run across at some stage with DSC.

However, I'm not actually sure if you needed the PsDscRunAsCredential parameter - you may have been able to use the `xDFSNamespaceServerConfiguration` resource without it. It will depend on how your DFS server is set up.

Is this now

[2016-11-15 09:13] PlagueHO commented on #15
Hi @iainbrighton - I just realized that I'd incorrectly tagged your name in the above reply. So you won't have seen it. Sorry about that sir!

[2016-12-07 04:36] oradcliffe opened #24 "Creating DFS Namespace and Replication Groups"
Hey guys,

Was hoping someone could point me in the right direction with this one - I am trying to use this in an Azure template, but right now am testing it on a couple local VMs.  My DSC script is the following:

<script src="https://gist.github.com/oradcliffe/ca09ad936639b42f9339817aeae627e4.js"></script>

The output I am getting, after the features are installed, is like this:

(Since it's a w

[2016-12-07 05:44] PlagueHO commented on #24
Hi @oradcliffe - thanks for reporting this!

Is this being deployed to Windows Server 2016 or Windows Server 2012 R2 servers?

I ask because on Windows Server 2016 servers, DFS is configured slightly differently out of the box. Basically in Windows Server 2016 the DFS namespaces are not configured with a UseFQDN value set.

To fix this add a DSC config step at the beginning that sets the UseFQDN v

[2016-12-07 05:46] PlagueHO commented on #15
@iainbrighton - if you get the opportunity to confirm this resolves your option, let me know. What I'll then do is update the documentation and examples to make note of this behavior with Windows Server 2016.

[2016-12-07 12:52] oradcliffe commented on #24
Hi @PlagueHO, no I'm trying to deploy to 2012R2;I actually saw that thread last night trying to troubleshoot this.

[2016-12-07 18:08] PlagueHO commented on #24
@oradcliffe - ok no worries. I'll dig deeper into your logs and get back to you (will try for tonight, but it might take a bit longer).

[2016-12-07 18:12] oradcliffe commented on #24
No problem, thank you for your help.  I will keep working on it too and update here.  To be certain though, what I am trying to accomplish is doable right?  I have a Windows domain coming up, followed by two file servers, and on those I am trying to create a namespace for public and for different AD groups, and have those directories replicated across the two file servers, 1:1.  The xDFS github pa

[2016-12-08 08:18] PlagueHO commented on #24
@oradcliffe - so far it looks like you're doing everything right.

Could you try executing the following cmdlet (setting the domain name) on your DFS node (the one the DSC Config is applying to) using the user Context that you're using to apply the DSC Config (e.g. $DomainCreds):
[code]
Does this cmdlet succeed? It appears this is the cmdlet that is causing the exception to be thrown in the resour

[2016-12-08 11:22] iainbrighton commented on #15
@PlagueHO Apologies - been busy with that thing called work 👎. I'll attempt to have a look this week as I think this is now the *only* thing stopping us going Server 2016 for dev/test..

[2016-12-09 16:24] oradcliffe commented on #24
@PlagueHO - this may be a dumb question, but should I be creating folders on both file shares and sharing them before this?  I know I could use the DSC File and xSMBShare resources for that, and I am testing that on local VMs.

[2016-12-09 20:43] joeypiccola commented on #23
@PlagueHO,

Yes!

[2016-12-10 03:48] oradcliffe commented on #24
@PlagueHO Hey I have been working on this a bunch, and I think what you proposed using the xDFSNamespaceServerConfiguration may have quelled some undefined errors, but I have changed so much at this point it would be hard to say.  I could remove it from what I have working now and I suppose tell that way.

What I wound up doing was using the File, xSMBShare, and cNtfsAccessControl modules on the f

[2016-12-11 04:38] #23 closed, assigned to nobody

[2016-12-11 04:40] PlagueHO commented on #15
@iainbrighton - no worries mate! I'm definitely thinking some more docs/guidance is needed as there does appear to be challenges getting these resources working at times.

[2016-12-13 06:54] PlagueHO commented on #24
HI @oradcliffe - oh yes, the SMB Shares need to already exist. I didn't even think to confirm this with you. This behavior is expected because that is how the DFSN PowerShell cmdlets work. This is different to the DFSN Server GUI console - which creates the SMB shares for you. So I understand where the confusion comes from.

I think there is three things that I could do here:
1. Update the documen

[2016-12-13 18:19] oradcliffe commented on #24
Hey!  I also got it all working deploying to Azure as well, so if you'd like to take a look at that it's on my DFS branch, but will be merging into master today.  I did encounter one additional undefined error when I was refactoring everything to work with Azure - in xDFSNamespaceRoot, if the TargetPath doesn't exist (like if you typo a server name - \\servera\Public instead of \\server-a\Public f

[2016-12-16 12:33] iainbrighton commented on #15
@PlagueHO As always - thanks for your efforts 👍.

I can confirm that the `UseFqdn` property is indeed null on a 2016 instance.
[code]
I can also confirm that the following configuration now works on a 2016 host and passes the `Test-TargetResource` method after the first pass:
[code]
Therefore, I think that the examples should be updated to include the xDFSNamespaceServerConfiguration resource defa

[2016-12-17 04:19] PlagueHO commented on #15
Awesome! Thank you again @iainbrighton - that is great info.

What I will do:
1. Raise an issue on Uservoice - I do agree this seems like a bug/regression.
2. Add info to the Readme.md identifying this as a known issue and refer to the required solution.
3. Add the xDFSNamespaceServerConfiguration to the examples.

Thanks again for helping me check this out.

[2016-12-20 21:04] oradcliffe commented on #24
@PlagueHO Hey, it's merged into the master branch and works perfectly.  Just wanted to say thank you again!

[2016-12-24 01:41] PlagueHO commented on #24
@oradcliffe - that is great to hear and really inspiring that you're showing the usage of this up in the cloud. Always a pleasure to help.

Can I close this one?

[2016-12-24 19:34] oradcliffe commented on #24
@PlagueHO - Thanks for the kind words!  You can definitely close this one and thanks so much again for your help.  Happy holidays!

[2016-12-25 09:19] PlagueHO commented on #24
@oradcliffe - you too! Cheers sir!

[2016-12-25 09:19] #24 closed, assigned to nobody

[2016-12-30 20:42] oradcliffe commented on #24
@PlagueHO  - Have been looking at [this](https://dscottraynsford.wordpress.com/2016/10/04/easily-create-a-hyper-v-windows-server-2016-ad-nano-server-lab/) the last few days in anticipation of a new server I am setting up at home, and didn't realize it was yours!  Very cool!

[2016-12-31 19:43] PlagueHO commented on #24
Haha @oradcliffe - good spotting. I actually created Labbuilder as an easy way to spin up and test the DSC resources I was creating (e.g. this one, FSRMDsc, WSManDsc and iSCSIDsc). And eventually it ended up how it is now. I haven't been giving it much love lately though - too much on. But if you find anything that needs changing, let me kmow!

[2017-02-08 09:18] PlagueHO opened #25 "Convert Resource to use shared AppVeyor module and Markdown/Example Tests"

[2017-02-17 06:12] PlagueHO commented on #25
I'm also including the following changes:
* Move strings into separate language files.
* Added CodeCov support.

[2017-04-26 17:23] solbirn opened #27 "xDFSReplicationGroup - Error while comparing array containing $null"
In xDFSReplicationGroup `Test-TargetResource` the following code can set `$ExistingFolders` to a `@($null)` array when the replication group does not yet contain folders. This results in a `ParameterBindingValidation` exception while subsequently evaluating the Compare-Object just below it.

[code]

Error message;
[code]

Can be resolved with:
`$ExistingFolders = @((Get-DfsReplicatedFolder @Splat

[2017-04-26 18:29] solbirn opened #28 "xDFSReplicationGroup - Currently requires DomainName even though README states optional"
`Set-TargetResource` populates `$ExisitingMembers` via FQDN (`$ExistingMembers = (Get-DfsrMember @Splat -ErrorAction Stop).DnsName`), which causes an error when `$DomainName` parameter is not populated and $Members parameter is not populated via FQDN.

[code]

I can think of the following options to resolve:

- Update documentation to mention that **DomainName** is required when FQDN is not suppli

[2017-04-27 08:02] PlagueHO commented on #27
Thanks @solbirn - I'll get this sorted this weekend. Thanks muchly for submitting this.

[2017-04-27 08:06] PlagueHO commented on #28
Thanks @solbirn - great job submitting this! I'll take a look at this over the weekend.

[2017-05-19 19:40] PlagueHO opened #29 "Convert all 'Ensure' parameters to default to 'Present'"
All Ensure parameters are currently required parameters with no default. It would make it easier to use these resources if they were defaulted and no longer required.

[2017-05-19 21:06] PlagueHO commented on #28
Hi @solbirn - I'll work on this once [this PR](https://github.com/PowerShell/xDFS/pull/26) is merged (should be over the next few days).

[2017-05-19 21:06] PlagueHO commented on #27
Hi @solbirn - I'll work on this once [this PR](https://github.com/PowerShell/xDFS/pull/26) is merged (should be over the next few days).

[2017-05-21 00:50] #25 closed, assigned to PlagueHO

[2017-05-21 00:52] PlagueHO commented on #21
Fixed by #26

[2017-05-21 00:52] #21 closed, assigned to PlagueHO

[2017-05-21 00:52] PlagueHO commented on #22
Fixed by #26

[2017-05-21 00:52] #22 closed, assigned to PlagueHO

[2017-05-21 04:36] PlagueHO commented on #27
Hi @solbirn - I've been looking into this error and I'm not sure it is caused by this problem. Looking at the error message it is reporting that the `ReferenceObject` is null - this is the folders you should be passing into the Resource itself - rather than the existing Folders. Are you able to post your config so I can take a look?

[2017-05-29 15:43] solbirn commented on #27
Hi @PlagueHO,

Below is the config. I know this is the issue as I resolved in our environment by using a modified version of xDFS with `$null`s removed from `$ExisitingFolders`, but I try to get you the full error as well.

[code]

[2017-06-01 06:49] PlagueHO opened #31 "Fix MSFT_xDFSNamespaceServerConfiguration_Integration Test failure"
VERBOSE: [APPVYR-WIN]: LCM:  [ End    Set      ]  [[xDFSNamespaceServerConfiguration]Integration_Test]  in 0.2660 seconds.
PowerShell DSC resource MSFT_xDFSNamespaceServerConfiguration  failed to execute Set-TargetResource functionality with error message: The running command stopped because the preference variable "ErrorActionPreference" or common
parameter is set to Stop: Cannot set parameter "L

[2017-06-01 09:41] PlagueHO opened #33 "Breaking change: Get-LocalizedData command"
[code]

As of the 4.0.0.0 release today, this module now conflicts with the newly released 3.0.0.0 version of xStorage. The only way to install this module is to use `Install-Module xNetworking -Force -AllowClobber`. This should break aliases between DSC resources.

Please address ASAP, this is a big breaking change.

This issue was raised by @glennmate in xNetworking here: https://github.com/Powe

[2017-06-01 19:59] #31 closed, assigned to PlagueHO

[2017-06-01 20:36] #33 closed, assigned to PlagueHO

[2017-06-03 00:04] PlagueHO commented on #27
Oh cool! Thank you @solbirn - that is much appreciated. I'll take a look into this this weekend!

[2017-06-09 10:22] PlagueHO commented on #27
Hi @solbirn - I'm having trouble writing any unit/regression tests that replicate this issue. I'm also having trouble replicating this issue on any WS 2016 DFS servers. I'm a bit worried about making the change above because I'm not actually sure why it would actually work (I might be being dumb though). I've checked through this every way and I do think the error you're seeing might be being caus

[2017-06-12 15:44] stephensmalls opened #36 "Adding another server to replication group via xDFS"
I would like to use xdfs to add a new server to an already existing replication group. All of the examples seem to build one. Her's my code, but it doesn't work. What am I missing?

'xDFSReplicationGroup storage
        {
            GroupName = 'storage'
            Ensure = 'Present'
            Members = 'server1.domain.com','server2.domain.com','server3.domain.com'
            Folders = 'stora

[2017-06-15 08:06] PlagueHO commented on #36
Hi @stephensmalls

Off the top of my head, that should work. So, you're adding a third node to a two node group - and implementing a full mesh? That looks like it should work.

Do you get an error or does the additional node not get joined to the replication group? Are you able to output any verbose logs that are produced when applying the DSC Configuration?

What I would recommend though is that

[2017-06-24 07:36] PlagueHO opened #37 "Add VS Code workspace settings file with settings matching style guideline"
I suggest we add a VS Code workspace setting file with the following settings:

[code]

This is discussed here https://github.com/PowerShell/DscResources/issues/284.

That will make it possible inside VS Code to press <kbd>SHIFT</kbd>+<kbd>ALT</kbd>+<kbd>F</kbd> or press <kbd>F1</kbd> and choose 'Format document' in the list. The PowerShell code will then be formatted according to the Style Guidel

[2017-06-24 19:43] #37 closed, assigned to PlagueHO

[2017-07-01 20:27] PlagueHO opened #39 "Set powershell.codeFormatting.preset in .vscode\settings.json to "Custom""
This will override a user defined value. See https://github.com/PowerShell/DscResources/issues/284#issuecomment-312422210

[2017-07-16 23:41] PlagueHO opened #41 "Improve Badge Area in README.MD to show table and both master/dev branches"

[2017-07-16 23:42] PlagueHO commented on #39
@johlju - any chance I could get a review on this one?

[2017-07-17 20:03] #39 closed, assigned to PlagueHO

[2017-07-19 09:22] #41 closed, assigned to PlagueHO

[2017-07-25 07:36] PlagueHO opened #43 "Update Year in License and Module Manifest to 2017"
See https://github.com/PowerShell/DscResources/issues/298

[2017-07-31 07:12] #43 closed, assigned to PlagueHO

[2017-07-31 07:13] PlagueHO opened #45 "Add .GitHub Contributing, Issue Template and Pull Request Template"
Add the files:
 - .github/CONTRIBUTING.md
- .github/ISSUE_TEMPLATE.md
- .github/PULL_REQUEST_TEMPLATE.md
To this repo to improve the amount of information being collected when issues are raised and to provide a checklist for reviewers/contributors when PR's are raised.

We should use the ones from [xFailOverCluster](https://github.com/PowerShell/xFailOverCluster/tree/dev/.github).

[2017-07-31 19:58] #45 closed, assigned to PlagueHO

[2017-08-10 09:09] PlagueHO opened #47 "Remove BOM on PS1 and PSM1 files and optin to tests"
Optin to these tests once BOM is fixed:
Common Tests - Validate Module Files
Common Tests - Validate Script Files

[2017-08-11 07:08] #47 closed, assigned to PlagueHO

[2017-08-25 08:21] PlagueHO opened #49 "Link Readme.md to Wiki Entries"
**Details of the scenario you tried and the problem that is occurring:**
It is not obvious from the README.MD that there is a Wiki containing the full documentation.

**The DSC configuration that is using the resource (as detailed as possible):**
N/A

**Version of the Operating System and PowerShell the DSC Target Node is running:**
N/A

**Version of the DSC module you're using, or 'dev' if you're

[2017-08-31 07:39] #49 closed, assigned to PlagueHO

[2017-09-01 20:47] PlagueHO opened #51 "Fix Failing Tests due to changes in DSCResource.Tests"
A recent change in DSCResource.Tests (https://github.com/PowerShell/DscResource.Tests/pull/186) caused the unit tests for the DSCResource.Tests module itself to be executed during the test run in this module.

For non-harness type modules this is being fixed in DSCResource.Tests itself, but for harness type, this must be fixed using this suggested change:
https://github.com/PowerShell/xNetworking/

[2017-09-02 11:25] #51 closed, assigned to PlagueHO

[2017-10-12 07:36] PlagueHO opened #53 "Migrate Pester Test Syntax from v3 -> v4"
**Details of the scenario you tried and the problem that is occurring:**
As of Pester v4 the syntax of the `Should` cmdlet has changed from `Should Be` to `Should -Be`.

There is a helpful script that can be used to easily perform the conversion:
https://gist.github.com/indented-automation/aeb14825e39dd8849beee44f681fbab3

This script should be used to correct the Pester syntax.

[2017-11-16 00:21] riccardin opened #54 "xDFSNamespaceRoot: failed to execute Set-TargetResource functionality with error message: Operation ca not be carried out because an object already exists"
I'm creating DFS namespaces and replications groups via puppet in 2 servers.

The snippet puppet code looks  something like:

create_resources(**dsc_xdfsnamespaceroot**, $cfg[namespaces], $credential)

The namespaces is a hash which looks something like:
**namespaces:
     folderName:
       dsc_ensure: 'present'
       dsc_path: "\\\\%{::networking.domain}\\folderName"
       dsc_targetpath: "\\\

[2017-11-16 00:42] PlagueHO commented on #54
Hi @riccardin - thanks for submitting this.

I suspect this is actually related to https://github.com/PowerShell/xDFS/issues/15 .

The best way to resolve this is to use FQDN for the dsc_targetpath hostname and use the `xDFSNamespaceServerConfiguration` resource to configure `UseFQDN` to be `$true`.

e.g.
[code]

The reason for this is that in Windows Server 2016 the host name can be set as a NetB

[2017-11-16 00:49] riccardin commented on #54
Thanks @PlagueHO! for your prompt response.  I'm going to give a try and let you know

[2017-11-17 22:26] riccardin commented on #54
Hi @PlagueHO I applied the suggested changes but I'm still getting the same error.  I have tried setting Fqdn either to True and False and nothing looks to work.

![image](https://user-images.githubusercontent.com/1487507/32971120-a767be00-cba0-11e7-892c-42e5373ce397.png)

[2017-11-17 22:35] PlagueHO commented on #54
:cry: Back to the drawing board!

I'm not super experienced with using Chef, but is it possible to get Chef to apply the DSC resource using the -Verbose parameter? This will output a bunch more logs I can look at.

And just to confirm, the `::hostname` in `dsc_targetpath: "\\%{::hostname}\folderName"` is putting the FQDN of the machine into the `dsc_targetpath`?

E.g.
\\myserver.contoso.com\folder

[2017-11-17 23:19] riccardin commented on #54
I can see it is setting the  dsc_targetpath  as  '\myserver\folderName'  the dsc_path is set as '\myserver.contoso.com\folderName'.

Also, I just noticed that the module version installed is 3.1.0.0.  Does the version 3.2.0.0 address this issue?

Sure I can provide the Verbose logs if needed. And no worries I'm happy to contribute to whatever I can.

[2017-11-17 23:57] PlagueHO commented on #54
@riccardin - thanks for that. I actually see one problem here:
The `dsc_path` should not contain a server name in it. It should just contain the domain (for a DomainV2 type NS). E.g.
dsc_path = '\\\\contoso.com\folderName'
dsc_targetpath = '\\\\myserver.contoso.com\folderName'

Take a look at this example 1 on this page https://github.com/PowerShell/xDFS/wiki/xDFSNamespaceRoot

Ignore Examples 3 a

[2017-11-22 16:01] riccardin commented on #54
Thanks, @PlagueHO.  Finally, it is working.  To summarize were two issues.

1. FQDN was null so it has to be set.
2. dsc_targetpath  was wrong.  It was missing the domain.

[2017-12-08 20:02] PlagueHO opened #55 "Convert Module Name to DFSDsc"
As per recent DSC Resource Naming guidelines changes:
https://github.com/PowerShell/DscResources/blob/master/Naming.md

[2018-01-14 20:03] #53 closed, assigned to PlagueHO

[2018-01-28 04:20] timhaintz commented on #55
Sign me up. 👍 Thanks.

[2018-01-28 05:23] PlagueHO commented on #55
Awesome! All yours @timhaintz :grin: thanks again for all your help!

[2018-02-12 19:07] meh485 opened #58 "xDFSReplicationGroup - test-targetresource always returns PrimaryMember as true"
**Details of the scenario you tried and the problem that is occurring:**
I am trying to configure an existing DFS Replication group using xDFS. I have the PrimaryMember flag set to $false in the DSC configuration and I can confirm when running Get-DFSRMembership, primarymember is set to false as well. But when I run Start-DscConfiguration, Test-TargetResource returns $false because:
Test-TargetRes

[2018-02-20 05:50] PlagueHO commented on #58
Thanks for raising this @meh485 - I've been a bit snowed under lately so a bit behind on this stuff. But I'm hoping to make some time for DSC stuff this weekend. Again, sorry for the delay!

[2018-04-05 08:14] PlagueHO opened #59 "Set Optional Failure Flags for all PSSA Tests"
Add the following opt-in settings to enable CI failure on violation of these PSSA rule types:

- Common Tests - Required Script Analyzer Rules
- Common Tests - Flagged Script Analyzer Rules
- Common Tests - New Error-Level Script Analyzer Rules
- Common Tests - Custom Script Analyzer Rules

[2018-04-05 09:37] PlagueHO opened #60 "Set Optional Failure Flags for all PSSA Tests"
Add the following opt-in settings to enable CI failure on violation of these PSSA rule types:

- Common Tests - Required Script Analyzer Rules
- Common Tests - Flagged Script Analyzer Rules
- Common Tests - New Error-Level Script Analyzer Rules
- Common Tests - Custom Script Analyzer Rules

[2018-04-05 09:37] PlagueHO commented on #60
Doh! Double up issue.

[2018-04-05 09:37] #60 closed, assigned to nobody

[2018-04-26 07:47] #55 closed, assigned to nobody

[2018-05-14 17:44] rodneymiller12 opened #62 "Add an example to show how to create a Hub and Spoke Topology"
Trying to use DFSDsc not to ensure a configuration but to do setup work.  I have a scenario where Im using an Azure ARM template to call DFSDsc.  My member nodes array could be 2 servers or 10 and with not supporting the Hub and Spoke technology I have to find a way to run DFSGroupConnections multiple times if there are more than two nodes in my member nodes group.  The big picture is to be able t

[2018-05-14 18:04] rodneymiller12 commented on #62
I just updated to DFSDsc 4.0.0.0 so that I am on the latest release, however there is still no hub and spoke support

[2018-05-15 16:32] johlju commented on #62
Are you seeing this being add to an existing resource, or do you see this being one or more new resources?

[2018-05-15 16:40] rodneymiller12 commented on #62
Id like to see it as an option to the DFSReplicationGroupConnection resource.  If you give it more than one destination computer set a connection up to each computer using the prime node as the master

[2018-05-15 19:18] PlagueHO commented on #62
Hi @rodneymiller12 - You can actually do this already. You need to add multiple `DFSReplicationGroupConnection` resources -one for each source/destination combo. So you'd have the same source but multiple destinations. This example: https://github.com/PowerShell/DFSDsc/wiki/DFSReplicationGroup#example-3 sort of does it.

This works because the Key for this resource is a combo of SourceComputerName

[2018-05-16 11:03] rodneymiller12 commented on #62
I am aware that currently you can add multiple connections, however what I am trying to solution is the following.  I am creating a webserver and sometimes webserver pairs and sometimes 8 webservers that will all be connected to each other with one server being the primary.  I would like to only have to call the DSC one time to set up DFS.  If the DFSReplicationGroupConnection resource had the abi

[2018-05-16 18:48] murrahjm commented on #27
Just ran into this error, though I think I'm hitting the issue around line 630 where it checks for differences in membership.  I have a dfs replication group with no existing members, and using DFSReplicationGroup resource to specify two members.  The line `$existingMembers = @((Get-DfsrMember @replicationGroupParameters -ErrorAction Stop).DnsName)` is returning a null value, and rightly so.  But

[2018-05-16 20:13] PlagueHO commented on #62
I think I understand. So this is more about being able to do the config in an easier way rather than it not being able to be done?

Is it possible to use a for loop within the config itself and parameterize instead?

I'll take at the resources and see if it is possible to change the key into an array. It may be simple enough but we generally don't use arrays as keys (in fact it may be completely

[2018-05-17 05:50] johlju commented on #62
@PlagueHO Arrays are not allowed to be keys, I have tried. 🙂

[2018-05-17 07:18] PlagueHO commented on #62
Thanks @johlju I did suspect as much but I was on a plane when I wrote that so didn't have resource to check :grin:

[2018-05-17 11:12] rodneymiller12 commented on #62
Thanks everyone. I will look into adding a for loop to the connection for the member nodes.  Appreciate everyone's time

[2018-05-18 10:53] johlju commented on #62
Closing this at this time. If this was not resolved then please reopen or comment. Thanks!

[2018-05-18 10:55] johlju commented on #62
On second thought, lets rename this issue to add an example showing a hub and spoke topology as suggested by @PlagueHO.

[2018-05-18 19:46] PlagueHO commented on #62
@johlju you read my mind :grin: in back home now from travelling around nz for work so can catch up on some dsc stuff.

[2018-05-18 23:31] PlagueHO commented on #27
Hi @murrahjm - do you know the version of Windows Server you are running? I was never able to replicate the issue so wasn't able to confirm if the fix would resolve it or not (e.g. I couldn't write tests to confirm this).

[2018-05-18 23:49] murrahjm commented on #27
I ran into the error against 2012r2 and 2016. Full disclosure, I'm actually
calling the resource from an ansible playbook, but it should amount to the
same thing since the error comes from compare-object.

When I saw it I had just created a new replication group from Powershell
with no members or folders or anything, then tried to configure it with the
dsc resource vs. creating it all from the res

[2018-05-19 00:07] PlagueHO commented on #27
Hi @murrahjm - it should work being used in an Ansible playbook OK (or at least I'd want it to).

So to confirm, you actually created the replication group as an empty group first with no members or anything manually and then ran the playbook? That is a scenario I didn't actually test so it may indeed cause an error. I'm just in the process of spinning up a DFS environment to do some other testing

[2018-05-19 00:19] murrahjm commented on #27
Correct. Completely new group created via Powershell before running the
playbook. I forget the exact command but I think it was
new-dfsrreplicationgroup or something like that with just a name parameter.

On Fri, May 18, 2018, 7:07 PM Daniel Scott-Raynsford <
notifications@github.com> wrote:

[2018-05-20 08:43] PlagueHO commented on #62
Still prepping my lab to test out the Hub & Spoke config (I needed to update LabBuilder to use all the newly renamed DSC modules :grin:).

[2018-05-20 12:23] johlju commented on #62
Great to get LabBuilder to use the latest renamed modules :) Hope it was a nice trip around NZ and you got time to see things too :)

[2018-05-21 00:16] murrahjm commented on #27
Also I have an update that fixes the null comparison issue if you'd like a pull request.  Not sure how it fares against all the other scenarios but it should be relatively benign.

[2018-05-21 07:36] PlagueHO commented on #62
Just waiting for NetworkingDsc to be released to finish the final changes to LabBuilder to fully support the newly minted *Dsc resources! :grin:

[2018-05-21 08:17] PlagueHO commented on #27
Hi @murrahjm - sure - would be delighted to accept a PR (see https://github.com/PowerShell/DscResources/blob/master/CONTRIBUTING.md). But with a change like this it would be good to validate against the integration tests (https://github.com/PowerShell/DFSDsc/blob/dev/Tests/Integration/MSFT_DFSReplicationGroup.Integration.Tests.ps1). The integration tests do need to be run outside of AppVeyor CI be

[2018-05-22 08:09] jonathangrice84 opened #66 "Local Path not being set correctly when using Replication Groups"
**Details of the scenario you tried and the problem that is occurring:**
Trying to deploy DSC across two servers (then will add in another 3) in Azure both of which have E:\ attached (its part of the DSC). I don't think I have the right Local Path configuration but feel I have tried every way of writing the local E:\!

Below is a screenshot of the Replication Group once completed, notice the Local

[2018-05-22 09:33] PlagueHO commented on #27
I can confirm that I can replicate this now by taking a deployed Replication Group and removing all the members from it and then reapplying the config. I'm now going to make @murrahjm changes to my copy and check it resolves the issue without any regression of other functions.

[2018-05-22 09:57] #62 closed, assigned to PlagueHO

[2018-05-22 10:30] PlagueHO commented on #66
Hi @jonathangrice84 - what seems very strange here is the ReplicatedFolder in the second screenshot is actually showing the "ContentPath" value. I think this is because the Folders in the first resource is wrong - it should actually be 'inetpub'. E.g.
[code]

Give that a try and let me know if it resolves the issue.

[2018-05-22 11:19] jonathangrice84 commented on #66
Thanks. That kind of worked. I also lowered the case of the folder path which brought it in!

Thanks for the help!

[2018-05-22 11:19] #66 closed, assigned to nobody

[2018-05-22 19:09] #59 closed, assigned to PlagueHO

[2018-05-24 08:09] PlagueHO commented on #66
Awesome! Thanks @jonathangrice84 !

[2018-06-01 20:35] #27 closed, assigned to PlagueHO

[2018-06-08 21:12] PlagueHO opened #67 "Add Code of Conduct"
See https://github.com/PowerShell/DscResources/issues/337#issuecomment-395776698

[2018-06-09 22:31] #67 closed, assigned to nobody

[2018-07-26 22:05] #36 closed, assigned to nobody

[2018-07-26 22:05] #54 closed, assigned to PlagueHO

[2018-08-18 07:10] PlagueHO opened #71 "Update Pull Request and Issue Templates Copied from xPSDesiredStateConfiguration"
Copy the files:
[code]

From:
https://github.com/PowerShell/xPSDesiredStateConfiguration/pull/438

[2018-08-23 09:02] #71 closed, assigned to nobody

[2018-08-28 09:33] PlagueHO opened #74 "Refactor Repository Folder Structure so Harness not Required"
See https://github.com/PowerShell/DscResource.Tests/issues/225

[2018-08-31 09:53] PlagueHO opened #75 "Add .VSCode Settings for PSScriptAnalyzer Rules"
See https://github.com/PowerShell/DscResources/pull/424

[2018-09-04 18:08] #74 closed, assigned to PlagueHO

[2018-09-04 18:08] #75 closed, assigned to PlagueHO

[2018-09-10 22:29] murrahjm opened #77 "xDFSReplicationMembership - add support for modifying staging quota"
#### Details of the scenario you tried and the problem that is occurring
When creating or modifying a DFS replication group membership, the staging quota size is left at the default of 4gb
#### Verbose logs showing the problem

#### Suggested solution to the issue
Add parameter to the xDFSReplicationGroup to allow setting the staging quota size
#### The DSC configuration that is used to reproduce

[2018-09-10 22:36] PlagueHO commented on #77
Awesome idea - thanks for raising this @murrahjm. I've tagged this as help wanted. I've got a bit of a long backlog but I'll try and get to this as soon as I have time.

[2018-10-12 04:39] n3snah commented on #15
Is the limitation still on the cmdlets? I have used them with FQDN without too much issue however right now I am faced with other issues like not being able to added extra namespace targets.

[2018-10-12 05:02] PlagueHO commented on #15
Hi @laywah2016 - I haven't tried this in Windows Server 2019, so not sure there. But it has not been fixed in Windows Server 2016. All that is really required to do is use the DFSNamespaceServerConfiguration as per the examples to configure the DFS Namespace server to use FQDN.

Can you clarify the issue with not being able to add extra namespace targets? It would be worth creating a new issue if

[2018-10-31 10:33] timhaintz opened #79 "Update LICENSE file to match the Microsoft Open Source Team standard."
In new repositories that are created by the Microsoft Open Source Team, the LICENSE file does not contain the year in the copyright "header".

LICENSE file should be as below, indentation included.

[code]

[2018-11-02 03:17] n3snah opened #81 "using cached auth for DFS updates"
When running this module, does it support/use cached auth rather than talking with AD against each namespace and/or folder check that it does?

[2018-11-02 03:22] n3snah commented on #15
Thanks @PlagueHO it seems it was an issue on my end. I have been able to create new namespaces now.

[2018-11-03 01:44] PlagueHO commented on #81
Hi @laywah2016 - that is a good question. However, I'm not sure of the answer as this resource just uses the [DFSR](https://docs.microsoft.com/en-us/powershell/module/dfsr/?view=win10-ps) and [DFSN](https://docs.microsoft.com/en-us/powershell/module/dfsn/?view=win10-ps) PowerShell modules that come with the OS. So it will completely depend on the behavior of those modules (which are not available

[2018-11-03 01:44] PlagueHO commented on #79
Closed by #80

[2018-11-03 01:44] #79 closed, assigned to nobody

[2018-11-03 02:01] #77 closed, assigned to nobody

[2018-12-02 01:22] n3snah commented on #81
As far as I can see, there is no way to use a cached credential as the main DFSR and DFSN cmdlets don't seem to have that feature. The problem I face and why I asked the question is that we have a few namespaces which have a total of more than 5000 folder & targets and it takes an extremely long time to auth and just check them.

[2018-12-02 03:17] PlagueHO commented on #81
That is a tough one indeed. You are right- the DFSR and DFSN cmdlets don't seem to support this. Even if they did though, it isn't clear if we could make each resource in a config "share" these credentials.

Out of interest, how long does it take to auth against the AD for these 5000 folders & targets? Is the domain controller that is being used to auth on a "close" network subnet? In theory, you

[2018-12-03 09:38] n3snah commented on #81
it takes over 1 hour for a run. AD is within the same datacentre so its <1ms ping. This is also on a largish enterprise which spans Australia.
DFS doesn't seem to have many changes made since 2008 R2 except for the introduction of the cmdlets.

whats the likely hood of Microsoft doing further development around DFS and possibly introducing some kind of caching on the cmdlets? though our AD infrast

[2019-01-10 07:31] PlagueHO opened #84 "Correct If Brace Style in Resource to resolve PSSA Style Violations"
#### Details of the scenario you tried and the problem that is occurring

PSSA style rule checks are failing due to incorrect if block style:
https://ci.appveyor.com/project/PlagueHO/dfsdsc#L567

#### Verbose logs showing the problem

N/A

#### Suggested solution to the issue

Correct the style.

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)

N/A

#### Th

[2019-01-12 05:34] PlagueHO opened #86 "Add DscResourcesToExport to Manifest"
To improve the information in the PowerShellGallery, add DscResourcesToExport to the module manifest.

[2019-01-27 20:04] #84 closed, assigned to PlagueHO

[2019-02-01 07:26] #86 closed, assigned to PlagueHO

[2019-02-01 23:51] PlagueHO commented on #81
Sorry for not getting back to you sooner, but I don't know what the likelihood of this sort of improvement being made is. It does sound like it could be something that could be looked at. Have you raised the issue over on User Voice? They might actually have some suggestions, even if the issue doesn't get fixed.

[2019-02-14 07:21] PlagueHO opened #88 "Rollback 4.3.0.0 Release"
The 4.3.0.0 release failed because of a test failure. The test failure has been fixed but the release needs to be rolled back.

[2019-02-16 03:13] #88 closed, assigned to PlagueHO

[2019-02-28 02:57] n3snah commented on #15
@PlagueHO is this issue still current?
It seems to work fine on Windows Server 2016 when I try using the commands you have given
![image](https://user-images.githubusercontent.com/20535750/53538184-9761da00-3b47-11e9-89dd-c2f4936251d5.png)

[2019-02-28 06:14] PlagueHO commented on #15
Hi @laywah2016 - which version of WS2016 are you using? I wonder if it has been fixed in a recent update or perhaps WS2016 build 1803?

[2019-03-01 11:34] n3snah commented on #15
This is the version I am running.
[code]

[2019-03-15 09:47] gaelcolas commented on #81
@PlagueHO: Would it even work in DSC? I mean each resource is running in its own thread without communications/variable sharing with other resource instances, so if you mean some caching on the client side, then it'd have to be to disk... Which is probably not what you want.

[2019-03-16 04:24] PlagueHO commented on #81
@gaelcolas - I think you are probably right here. Any kind of caching would of this sort of thing would have to be done at the DFS system layer - above PowerShell and above DSC. I can't see any way that we could implement it at the PowerShell/DSC layer.

[2019-03-16 06:26] gaelcolas commented on #81
@laywah2016 I'm afraid there's not much that can be done here.
What I'd recommend if that's taking too long is to either:
- distribute that configuration against several servers (say, 1 server checks ~ 1000 folder & targets, so ~ 5 servers).
- create your own resource that is optimised for speed (maybe wrapping around the Get/set/test of the existing resource, so that everything is done as the sam

[2019-03-16 06:26] #81 closed, assigned to nobody

[2019-03-30 21:26] PlagueHO opened #91 "Example Publishing to PS Gallery Fails"
The following warning occurs:
https://ci.appveyor.com/project/PowerShell/DFSDsc/branch/master#L1953

This is because gallery_api setting is missing from AppVeyor.
https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/dev/appveyor.yml#L6

[2019-04-01 05:38] #91 closed, assigned to PlagueHO

[2019-06-17 17:05] jeremysbrain opened #93 "DFSNamespaceRoot Test-TargetResource Not Working"
I'm attempting to configure DFS, and the DFSNamespaceRoot Test is always returning that the Namespace Root does not exist, even when it does.  DSC Configuration runs properly the first time, but then fails during subsequent any following.
**DSC CODE:**
[code]
**DEBUG OUTPUT:**
[code]

Any assistance is appreciated!  Please let me know if there is any other information that would be helpful.  Thank

[2019-06-19 09:22] PlagueHO commented on #93
Hi @jeremysbrain - I think this is the same issue as this one: https://github.com/PowerShell/DFSDsc/issues/54

See if the solution in there fixes your problem.

[2019-06-20 17:46] jeremysbrain commented on #93
Thanks for the reply.  Unfortunately it doesn't appear to help.  Updated code and debugs below:
**DSC Code:**

[code]

**Debug Output**
[code]

I also noticed that the C:\DFSRoots Folder was not created.  I created the folder manually, but that did not help either.  Not sure if that could have anything to do with it.

[2019-06-22 00:07] PlagueHO commented on #93
Hi @jeremysbrain - it looks like the TargetPath in the `DFSTestRoot` might be wrong. I think it should be:
[code]

Could you try that?

[2020-01-16 20:08] thesmall opened #96 "MSFT_DFSNamespaceRoot/MSFT_DFSNamespaceFolder: Support for modifying Namespace Root Targets and Folder Target 'State'"
#### Details of the scenario you tried and the problem that is occurring

There is currently no way to provision a DFS Namespace Root Target or Folder Target in DFS in an Offline "State" (also defined as a target's "ReferralStatus")

#### Verbose logs showing the problem

This issue does not inherently manifest itself as an error. Its just currently not possible to specify a Root Target or Folder

[2020-01-20 14:26] thesmall commented on #96
#97 Addresses this issue.

For what it's worth, this issue and associated PR could easily be converted into a non-breaking change by not requiring `State` to be a mandatory parameter, and instead setting a default value of "Online" for `State`.

[2020-01-21 05:57] PlagueHO commented on #96
Hi @thesmall - this is awesome! Thank you. I'll get onto the review this week. I'll get this PR through before I start the work to move this resource to the new continuous delivery release process.

I'm wondering if we should make the State default to 'Online' as you say. The reason is that I think most people would want to create the Namespace as online and assume it was the default. I could be w

[2020-01-21 13:19] thesmall commented on #96
Hi @PlagueHO, it should be easy enough to convert the State parameter to be non-mandatory, if that's the route we want to take. I guess my thinking for having it be a mandatory parameter is that you should be explicitly thinking about whether Roots Targets and Folder Targets should be "Online" or "Offline". This is in line with the general premise that you always need to specify either 'Present' o

[2020-01-24 23:32] PlagueHO commented on #96
Hi @thesmall - I'm OK with making it mandatory. I don't have strong feelings either way. We haven't had any other community comments on this so I'm assuming no one else has a strong feeling either :grin:

Ensure isn't always a mandatory parameter- in some resources it defaults. for example, WindowsFeature defaults to Ensure = 'Present' - as 95% of the time you're installing features rather than re

[2020-01-29 14:44] thesmall commented on #96
That sounds fine to me. Those criteria also make sense.

Regarding examples and tests: I am not so up to date on how to write/update relevant tests (pester and otherwise), though I have made some attempts in some un-pushed code I've got.

Is that something you might be able to guide me on if I push up some commits?

[2020-03-06 11:51] johlju opened #98 "DFSDsc: Converting to new CI pipeline"
Work need to be done to convert this repository to use the new CI pipeline.

https://dsccommunity.org/blog/convert-a-module-for-continuous-delivery/

[2020-04-27 19:45] #98 closed, assigned to PlagueHO

[2020-05-02 20:16] PlagueHO opened #102 "Convert Module to use DSCResource.Common"
See this PR for example: dsccommunity/NetworkingDsc#453

[2020-05-11 09:16] PlagueHO opened #103 "Correct Build.YML to Support ModuleBuilder 1.7.0"
The ModuleBuilder 1.7.0 release renamed the `CopyDirectories` attribute to `CopyPaths`. Update the `Build.yml` to fix this issue.

[2020-06-14 01:08] PlagueHO opened #105 "Fix Build Failures due to Pester 5.x"
Pester 5.x has been released and both Sampler and DSCResource.Test has been updated to support it, however, Code Coverage support is not available. To solve this, pin Pester to 4.10.1.

[2020-09-21 06:01] #102 closed, assigned to PlagueHO

[2020-09-21 06:01] #103 closed, assigned to PlagueHO

[2020-09-21 06:01] #105 closed, assigned to PlagueHO

[2020-10-18 08:51] markatdxb opened #107 "DFSNamespaceFolder: is not idempotent"
#### Details of the scenario you tried and the problem that is occurring
Running the DFSNamespadeFolder with the same parameters generates the error once the DFS folder already exists

#### Verbose logs showing the problem

#### Suggested solution to the issue
Implement idempotency

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### The operating

[2020-10-19 04:01] PlagueHO commented on #107
Hi @markatdxb - thanks for raising this. The resource should be idempotent. Can you share the verbose logs from the run that shows the error? Ot is possible that the set assumes test was run, which may need to be changed but need to get the error message and verbose logs to determine that.

[2020-10-19 08:24] markatdxb commented on #107
hi @PlagueHO - im running this from ansible using the win_dsc module so im not sure ill be able to provide debug info. anyway here is what i get

this is the first run when folder doesnt exists:
[code]

and this is the second run with the same parameters which throwing error

[code]

[2020-10-25 16:51] LaurentLienhard commented on #107
Same think for me :
`Operation cannot be carried out because an object already exist`

If I remove my DFS configuration and run DSC no problem. If i run a second time i have this error

[2020-10-26 21:02] PlagueHO commented on #107
Hi @markatdxb - I see. It looks like the `Test-TargetResource` is following a different path the second time through- as indicated by the slightly different logs.

It is possible that this issue is related to the mixing of NetBios names and FQDN names as per this issue: https://github.com/dsccommunity/DFSDsc/issues/54

Can you check if this is the case? DFS does some internal conversions to FQDN i

[2020-12-26 08:53] PlagueHO opened #108 "Rename master branch to main"
As per [this statement](https://sfconservancy.org/news/2020/jun/23/gitbranchname/).

[2020-12-26 17:53] PlagueHO opened #109 "Enable Automated Documentation Publish to Wiki in Deployment"
Add `- Publish_GitHub_Wiki_Content` to the `publish:` section of `Build.yml`.

[2020-12-30 00:44] #109 closed, assigned to nobody

[2021-01-20 08:08] PlagueHO commented on #108
This has been completed in PR #110

[2021-01-20 08:08] #108 closed, assigned to PlagueHO

[2021-01-20 08:09] PlagueHO opened #113 "Update GitVersion.yml to use latest pattern"
Update `GitVersion.yml` branches section to:
[code]

As per: https://github.com/dsccommunity/dsccommunity.org/pull/162

[2021-01-20 17:45] #113 closed, assigned to PlagueHO

[2021-04-09 08:46] PlagueHO opened #115 "Update Sampler Build Tasks"
Update the Sampler Build tasks as per this blog post: https://dsccommunity.org/blog/updating-sampler-github-tasks/

[2021-04-09 10:34] PlagueHO opened #116 "Enable Code Coverage Reporting"
Enable code coverage reporting as per this blog post: https://dsccommunity.org/blog/add-codecov-support-to-repository/

[2021-04-20 06:27] #115 closed, assigned to nobody

[2021-04-20 06:27] #116 closed, assigned to nobody

[2021-08-28 00:23] jw-price1985 opened #120 "DFSNamespaceRoot: Access to a CIM resource was not available to the client."
#### Details of the scenario you tried and the problem that is occurring
I am attempting to run this using Ansible and have come to a deadstop on attempting to run the following configuration:

[code]

I receive a log which I have pasted below - I have replicated the problem using a configuration file which I have also added into this issue. Also I have had a look at a few tickets and have seen FQ

[2021-08-28 06:22] PlagueHO commented on #120
Hi @jw-price1985 - have you tried using the FQDN for all of the [domain] and [hostname] entries? DFS tends to have issues when mixing and matching domain names with FQDN etc, and so using FQDN and fully qualified hostnames for everything is recommended.

[2021-08-28 08:41] jw-price1985 commented on #120
I have attempted with shortened names and FQDN, either gives me the same issue.

[2021-11-01 22:39] semora81 opened #121 "Loop on namespaceroot targets for deletion"
Issue opened for help, the issue was on one of the servers with a bad state. had to run dfsrdiag pollad and it started working properly. the DFSNamespaceRoot configuration was not detecting the targets since the state was bad on the server.

the code skipped the implementation part and then it tested and since it did not exist and Ensure = Absent, the code was saying all was fine..

on that server

[2021-11-02 00:38] #121 closed, assigned to nobody

[2021-11-10 09:43] Jasperswaagman commented on #120
Hey @jw-price1985, I've also been busy with Ansible and creating a DFSNamespaceRoot. I've managed to make it work by adding:
[code]

[2021-11-29 16:09] svalevka commented on #107
I am getting same issue for DFSNamespaceRoot resource

[code]

[2022-03-02 19:42] Glooerli commented on #107
Hello, is there already a solution ?
I got into the same problem..

[2022-04-12 08:31] PlagueHO opened #122 "Update Azure DevOps Pipeline Images"
The Ubuntu 16.04 and Windows Server 2016 Azure DevOps pipeline hosted images will be deprecated:

https://devblogs.microsoft.com/devops/hosted-pipelines-image-deprecation/

The pipeline stages need to be migrated to newer versions.

[2022-04-12 08:33] PlagueHO opened #123 "Update CI Pipeline Files from Latest Pattern"
Copy the latest patterns for the `build.yml`, `build.ps1` and `azure-pipelines.yml` from the PR:
https://github.com/dsccommunity/xExchange/pull/471

# build.yml

[code]

[code]

- Also add updated issue templates and related files:
- .github\ISSUE_TEMPLATE
- .github\CONTRIBUTING.md
- .github\PULL_REQUEST_TEMPLATE.md
- .github\ISSUE_TEMPLATE\General.md
- .github\ISSUE_TEMPLATE\Problem_with_resource

[2022-04-15 11:02] #122 closed, assigned to nobody

[2022-04-15 11:02] #123 closed, assigned to nobody

[2022-10-10 16:46] Borgquite opened #125 "DFSReplicationGroupMembership: Fails when trying to create a new DFS group and running Test first"
### Problem description

If the DFSReplicationGroupMembership is used on a new setup where the replication group does not yet exist with the Test-TargetResource executed before the configuration is applied for the first time, it will fail with 'System.InvalidOperationException: DFS Replication Group "<groupname>" folder "<foldername>" on "<computername>" is missing.'

### Verbose logs

[code]

###

[2022-10-31 18:03] Borgquite commented on #120
@jw-price1985 @Jasperswaagman Had the same issue here - you apparently must run the DFSNamespaceRoot resource as an account with Domain Admin credentials using PsDscRunAsCredential - see the documentation for examples.